h2 {
  color: #06f;
}
body {
  font: 0.8rem "Lato", sans-serif;
}

.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 60px;
}

form {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

form .field {
  margin: 10px 0px;
  display: block;
}

form .field label {
  display: inline-block;
  font-weight: bold;
}

form .field input {
  display: inline-block;
  width: 500px;
  font-family: monospace;
  font-size: large;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}
