h1 {
  margin: 20px 0px;
}

h2 {
  color: #06f;
}

.icon {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 64px;
}

form {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

form fieldset {
  margin: 12px 0px;
  display: block;
}

.field-value {
  display: block;
  width: 500px;
  font-family: monospace;
  font-size: 11pt;
}

form fieldset legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

.container {
  max-width: 520px;
  margin: auto;
  position: relative;
}

.header {
  display: none;
}

@media (min-width: 600px) {
  .header {
    display: block;
  }
}
