h1 {
  margin: 20px 0px;
}

h2 {
  color: #06f;
}

#version {
  color: slategray;
  margin-top: -20px;
}

#version::before {
  content: "Version: ";
}

.icon {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 64px;
}

form {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

form fieldset {
  margin: 12px 0px;
  display: block;
}

form fieldset .field-value {
  display: block;
  width: 500px;
  font-family: monospace;
  font-size: large;
}

form fieldset legend {
  background-color: #0077ff;
  color: #fff;
  padding: 4px 8px;
  border-radius: 3px;
}

.container {
  max-width: 520px;
  margin: auto;
  position: relative;
}

.header {
  display: none;
}

@media (min-width: 600px) {
  .header {
    display: block;
  }
}

button.save:hover {
  color: white;
  text-shadow: none;
  background: #02ba01;
}

button.cancel:hover {
  color: white;
  text-shadow: none;
  background: pink;
}

.status {
  display: none;
}

.JIRA_COLUMNS .status {
  display: block;
}

.GITHUB_TOKEN .status {
  display: block;
  animation: animate-opacity 1s ease-in-out infinite alternate;
}

@keyframes animate-opacity {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.5;
  }
}
